:root {
    --fitness-color: #f352a3;
    --environmental-color: #67d414;
    --culture-color: #46648f;
    --entertainment-color: #52c3f4;
    --foodndrink-color: #fdd501;
    --light-gray: lightgray;
    --base-green: #02d185;
}