.card{
  height: 130px;
  background-color: #232323;
}
.card:hover{
  background-color: #313131;
}
.card-image{
  object-fit: cover;
  width: 120px;
  height: 128px;
  padding: 8px;
}
.card-info-wrapper{
  position: absolute;
  left: 120px;
  padding: 8px;
}
.card-title{
  font-size: 20px;
  margin: 0px;
  padding: 0px;
}
.card-description{
  font-size: 15px;
  margin: 0;
  padding: 0;
  padding-bottom: 5px
}
.card-date{
  margin: 0;
  padding: 0;
  font-size: 12px;
}
