html,body, #root {
  padding: 0;
  height: 100%;
  margin: 0px;
  overflow: hidden;
}
body {
  display: flex;
}

html, body, #root { 
  width: 100% !important;
  height: 100% !important;
  padding: 0;
  margin: 0px;
  background-color: #232323;
}

#root {
  display: flex;
  flex-direction: row
}