@import url(https://use.fontawesome.com/releases/v5.0.6/css/all.css);

#nav-container{
    height: 100%;
    z-index: 2;
    float: left;
    position: absolute;
}

#navbar {
    --first-color: #f4427a;
    /*--second-color: #41f4b5;*/
    --second-color: #f4e767;
    --light-gray: lightgray;

    padding: 0;
    height: 100%;
    margin: 0px;
    z-index: 2;
    display: inline-flex;
    overflow-y: none;
}
#offcanvas-left{
    flex: 0 0 550px;
    height: 100%;
    background-color: #111;
    color: white;
    transition-duration: .5s;
    display: inline-table;
    opacity: .90
}
#offcanvas-left.hide {
    margin-left: -550px;
}
.togglebar {
    background-color: #232323;
    flex: 0 0;
    height: 100%;
    min-width: 50px;
    max-width: 5px;
    display: inline-table
}
.toggle i {
    height: 80px;
    font-size: 1.4em;
    width: 100%;
    color: var(--first-color);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
}
.toggle i:hover {
    color: var(--second-color);
}
#offcanvas-left ul {
    padding: 0;
    margin: 0px; 
}
#offcanvas-left ul li{
    color: white;
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    padding: 10px;
    border-bottom: 1px solid #222
}
#offcanvas-left a{
    color: white;
    text-decoration: none;
}
#offcanvas-left li:hover a {
    color: var(--first-color);
}